@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Workbench:SCAN@-25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('animations.css');

body{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    font-family: "Kanit", sans-serif;
}
#particles-js{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/coding-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
}
.presentation{
    color: white;
    text-align: center;
}
.p-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 28px;
}
.p-content{
    background-color: rgba(255, 255, 255, 0);
}
.p-content h3{
    font-size: 25px;
}
.p-content h1{
    font-family: 'Workbench', sans-serif;
    font-size: 34px;
    color: rgb(87, 165, 255);
}
.p-image{
    margin-top: 15px;
    height: 230px;
    width: 230px;
    animation: floating 3s infinite;
}
.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}  
.scroll-down {
    position: absolute;
    bottom: -55px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}
.about-me{
    text-align: center;
    padding: 40px 10px;
    /*background-color: red;*/
}
.profile-img{
    width: 200px;
    height: 260px;
    box-shadow: -2px 5px 44px 10px rgba(45,95,255,0.43);
    -webkit-box-shadow: -2px 5px 44px 10px rgba(45,95,255,0.43);
    -moz-box-shadow: -2px 5px 44px 10px rgba(45,95,255,0.43);
}
.ab-text h2{
    font-family: 'Workbench', sans-serif;
    font-size: 30px;
    text-decoration: double underline #6c8eff;
    padding-bottom: 10px;
}
.ab-text{
    margin-top: 1rem;
    padding: 25px;
}
.ab-text p{
    text-align: left;
}
.underline {
    height: 4px;
    width: 90px;
    background-color: #2d5fff;
    margin-top: 0;
    padding-top: 4px;
    margin-bottom: 5px;
}
.quality-service{
    background-color: #f9f9f9;
    padding: 60px 30px;
}
.quality-left-text h2{
    font-family: 'Workbench', sans-serif;
    font-size: 25px;
    text-align: center;
    text-decoration: double underline #6c8eff;
    padding-bottom: 5px;
}
.quality-left-text{
    padding-bottom: 40px;
}
.service-card{
    background-color: #ffffff;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.service-card h3{
    font-family: 'Workbench', sans-serif;
    text-decoration: double underline #6c8eff;
}
.techs-title{
    text-align: center;
    font-family: 'Workbench', sans-serif;
    margin-bottom: 50px;
}
.technologies{
    display: grid;
    grid-template-columns: repeat(3, .5fr);
    grid-template-rows: .5fr;
    grid-column-gap: 10px;
}
.tech-icons{
    text-align: center;
}
.tech-icons h2{
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
}
.tech-icons img{
    width: 50px;
    height: 50px;
}
/*boton descargar cv de uiverse.io by cssbuttons-io */
.download {
    --color: #2c1df7;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}
   
.download:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}
   
.download:hover {
    color: #fff;
}
   
.download:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}
   
.download:hover:before {
    top: -30px;
    left: -30px;
}
   
.download:active:before {
    background: #3a0ca3;

}


@media (max-width: 768px){
    .underline {
        display: none;
    }
}